
<h1>My Apps</h1>

<table>
<thread>
<tr>
<th>ID</th>
<th>NAME</th>
<th colspan='3'></th>
</tr>
</thread>

<tbody>

<% @apps.each do |app| %>
    <tr>
        <td><%= app.id %></td>
        <td><%= app.name %></td>

    </tr>  

<% end %>
</tbody>
</table>

<%= will_paginate(@posts) %>